/* You can add global styles to this file, and also import other style files */

#root {
    background: rgb(216,230,237);
    background: linear-gradient(180deg, rgba(216,230,237,1) 0%, rgba(255,255,255,1) 100%);
}
.category {
    /* display: block; */
    border-radius: .2em;
    padding: .5em !important;
    background-color: rgb(255, 255, 255);
    word-break: break-all;
    box-shadow: -4px 3px 5px 0px rgba(199,195,199,1);
}
.categoryDragOver {
    border-radius: .4em;
    padding: .5em !important;
    background-color: rgb(235, 235, 235);
    word-break: break-all;
    box-shadow: -4px 3px 5px 0px rgb(167, 138, 167);
}

.categoryTitle {
    font-style: bold;
}

.task {
    border-radius: .2em;
    display: block;
    box-shadow: .4em .2em 1em .2em rgba(163, 163, 163, 0.75);
    margin-bottom: 1em;
    padding: 0.3em;
}

.draggingTask {
    border-width: .2em;
    border-color: darkorange;
    opacity: 1;
}

.addTask {
    /* background-color: blue !important; */
    float: right;
}

.taskStack {
    margin-top: 1em;
    float: left;
    width: 100%;
}